.image-aside {

  @include lg {
    display: flex;
  }

  &__container {
    display: flex;
    flex-direction: column;
    margin: $space;

    @include lg {
      padding: calc($space * 2);
      width: 50%;
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    margin: calc($space * 2) 0;
    width: 100%;

    @include lg {
      width: 50%;
    }
  }

  &__image-actual {
    width: 100%;

    @include lg {
      width: 400px;
    }
  }

  &__content {
    font-family: $secondary-font;
    text-align: center;

    p {
      text-align: left !important;
    }

    @include lg {
      max-width: 85%;
    }
  }

  &__pre-title {
    color: $grey-light;
    font-family: $secondary-font;
    text-transform: uppercase;
    text-align: left !important;
    margin: 0;
  }

  &__title {
    color: $blue-light;
    font-family: $primary-font;
    margin: 0;
    text-align: left !important;
  }
  
  &__button {
    margin: calc($space * 2) auto;
    width: 50%;
  }
}